
{% extends 'core/base.html' %}
{% block title %}Sign Up{% endblock title %}
    
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h3 class="card-title fw-bold mb-4 text-center">sign Up </h3>
                    <form method="POST" action="">
                        {% csrf_token %}
                        {{form.errors}}
                        <p>{{ form.username.label_tag }} {{form.username }}</p>
                        <p>{{form.email.label_tag}} {{form.email}}</p>
                        <p>{{form.password1.label_tag}} {{form.password1}}</p>
                        <p>{{form.password2.label_tag}} {{form.password2}}</p>
                        <button type="submit" class="btn btn-primary w-100">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}